@media (min-width:401px) {
    .modal-dialog .nav-btns {
        display: none !important;
    }
}

@media (min-width: 1600px) {
    .destination .plusAnimation {
        left: 160px;
    }
}

@media (max-width:400px) {
    .modal-dialog .nav-btns {
        display: flex !important;
    }
    .nav-btns {
        display: none !important;
    }
}